<!--<div class="main-container">-->
<!--<div class="scrollable" smoothAutoScroll *ngIf="teams.length>0" [begin]="0" [end]="finish" [time]="timeRemaining"-->
<!--[scrollLength]="30" [scrollTime]="1000" [delay]="1000" [initialDelay]="2000">-->
<!--<div *ngFor="let one of teams; let i = index" class="container">-->
<!--<div *ngIf="i%2==0" class="text left">{{one.biography}}</div>-->
<!--<div divImage [id]="one.id" [controller]="'team'" class="image">-->
<!--<p>{{one.name}} {{i}}</p>-->
<!--</div>-->
<!--<div *ngIf="i%2==1" class="text right">{{one.biography}}</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="main-container">
  <div class="scrollable">
    <div *ngFor="let one of teams; let i = index" class="container" [id]="'team'+one.id">
      <div *ngIf="i%2==0" class="text left">
        <div class="title">
          <p>
            {{one.biography}}
          </p>
        </div>
        <div class="read-more">
        </div>

      </div>
      <div divImage [id]="one.id" [controller]="'team'" class="image">
        <div class="text-wrapper">
          <p>{{one.name}} {{i}}</p>
        </div>

      </div>
      <div *ngIf="i%2==1" class="text right">
        <div class="title">
          <p>
            {{one.biography}}
          </p>
        </div>
        <div class="read-more">
        </div>
      </div>
    </div>
  </div>
</div>
