<p>Film</p>
<form [formGroup]="formGroup" (submit)="save(form)" #form>
  <label>Name
    <input type="text" formControlName="filmTitle">
  </label>
  <label>Director
    <input type="text" formControlName="director">
  </label>
  <label>Poster
    <input type="file" accept="image/*" appBase64AndProgressFile (file)="readUrl($event)"
           [ngStyle]="{'display':'none'}">
  </label>
  <img *ngIf="image&&image.length>0" [src]="image" alt="image">
  <label>Video
    <input type="file" accept="video/*" formControlName="video" name="multipartFile" (change)="readUrlVideo($event)">
  </label>
  <video *ngIf="video&&video.length>0" [src]="video"></video>
  <input type="submit" value="Update">
</form>
