.button {
  z-index: 20;
  position: fixed;
  height: 100vh;
  width: 50vw;
}

.left {
  top: 0;
  left: 0;
}

.right {
  top: 0;
  right: 0;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.one-film {
  height: 100vh;
}
