<!-- <video id='v' src="../../../shared/video/video.mp4" type="video/webm" autoplay loop muted preload="auto" playsinline>
</video> -->
<div class="wrapper">
  <div class="block block2"
       [@openClose2]="isOpen ? 'open' : 'closed'"
       [ngClass]="{'displayNone': displayNone1}">
    <video autoplay (click)="toggle()"
           src="{{videoSource}}"
           #videoPlayer2
           class="video-background1"
           muted plays-inline loop>
    </video>
  </div>
  <div class="block block4"
       [@openClose4]="isOpen ? 'open' : 'closed'"
       [ngClass]="{'displayNone': displayNone1}">
    <video autoplay (click)="toggle()"
           src="{{videoSource}}"
           #videoPlayer4
           class="video-background1"
           muted plays-inline loop>
    </video>
  </div>
  <div class="block block5"
       [@openClose5]="isOpen ? 'open' : 'closed'" >
    <video autoplay (click)="toggle()"
           src="{{videoSource}}"
           #videoPlayer5
           class="video-background1"
           muted plays-inline loop
           #video1>
    </video>
  </div>





  <div class="block block22"
       [@openClose22]="isOpen1 ? 'open' : 'closed'"
       [ngClass]="{'displayNone': displayNone2}">
    <video autoplay (click)="toggle()"
           src="{{videoSource2}}"
           #videoPlayer7
           class="video-background2"
           muted plays-inline loop>
    </video>
  </div>

  <div class="block block44"
       [@openClose44]="isOpen1 ? 'open' : 'closed'"
       [ngClass]="{'displayNone': displayNone2}">
    <video autoplay (click)="toggle()"
           src="{{videoSource2}}"
           #videoPlayer9
           class="video-background2"
           muted plays-inline loop>
    </video>
  </div>
  <div class="block block55"
       [@openClose55]="isOpen1 ? 'open' : 'closed'" >
    <video autoplay (click)="toggle()"
           src="{{videoSource2}}"
           #videoPlayer10
           class="video-background2"
           muted plays-inline loop
            >
    </video>
  </div>


</div>



<!--<canvas #canvasEl width=400 height=400></canvas>-->
