* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

ul {
  display: flex;
  line-height: 1;
}

li {
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0 2px 0 2px;
}

.logo {
  width: 20%;
  height: 70px;
  background-image: url('.././../../assets/img/bg.psd');
}

img {
  width: 200px;
}

nav {
  padding-top: 10px;
  width: auto;
}

header {
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  display: flex;
  z-index: 20;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

.vertical {
  width: 2px;
  height: 14px;
  background-color: #1a1a1a;
  margin: 0 3px 0 8px;
}
a{
  -webkit-transition: width 0.7s, ease-in;
  -moz-transition: width 0.7s, ease-in;
  -o-transition: width 0.7s, ease-in;
  transition: width 0.7s, ease-in;
}

.underscore {
  width: 0;
  height: 3px;
  background: black;
}
li a:hover .underscore{
  width: auto;
  -webkit-transition: all 0.7s, ease-in;
  -moz-transition: all 0.7s, ease-in;
  -o-transition: all 0.7s, ease-in;
  transition: all 0.7s, ease-in;
}
