* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: black;
}

ul {
  display: flex;
  line-height: 1;
}

li {
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0 2px 0 2px;
}

.logo {
  width: 20%;
  height: 70px;
  background-image: url('.././../../assets/img/bg.psd');
}

img {
  width: 200px;
}

nav {
  margin: auto 30px auto 10px;
  width: auto;
  height: 16px;
}

header {
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  display: flex;
  z-index: 29;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

.vertical {
  width: 2px;
  height: 17px;
  background-color: white;
  margin: 0 3px 0 8px;
}
h3 > a {
  position: relative;
  color: white;
  text-decoration: none;
}

h3 > a:hover {
  color: white;
}
h3 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  top: 20px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h3 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  top: 20px;
  left: 0;
}

.tablet {
  display: none;
  width: 38px;
  height: 38px;
  position: fixed;
  right: 34px;
  z-index: 34;
  top: 34px;
  padding: 20px;
}
.ulTablet{
  display: none;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  ul{
    display: none;
  }
  .tablet{
    display: block;
  }
  .navTab{
    position: absolute;
    z-index: 35;
    top: 0px;
    right: 0px;
    overflow: hidden;
    height: 100vh;
    width: 70vw;
    background-color: white;
  }
  .tabletClose{
    display: flex;
    flex-direction: column;
  }
  .tabletClose>svg{
    align-items: flex-end;
    width: 38px;
    height: 38px;
    padding: 54px;
    padding-left: 60vw;

  }
  .ulTablet{
    display: block;
  }

}
