<header>
  <div class="logo" [routerLink]="['/']">
    <img src="" alt="">
  </div>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/','film']">
          <p> Films </p>
        </a>
        <div class="vertical"></div>
      </li>
      <li>
        <a [routerLink]="['/','platform']">
          <p> Platform </p>
        </a>
        <div class="vertical"></div>
      </li>
      <li>
        <a [routerLink]="['/','story']">
          <p> Story </p>
        </a>
        <div class="vertical"></div>
      </li>
      <li>
        <a [routerLink]="['/','team']">
          <p> Team </p>
        </a>
        <div class="vertical"></div>
      </li>
      <li>
        <a [routerLink]="['/','community']">
          <p> Community </p>
        </a>
      </li>

    </ul>
  </nav>
</header>
