<header>
  <div class="logo" [routerLink]="['/']">
    <!--<img src=".././../../assets/img/bg.psd" alt="">-->
  </div>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/','film']">
          <p> Films </p>
          <div class="underscore"></div>
        </a>
        <div class="vertical"></div>
      </li>
      <li>
        <a [routerLink]="['/','platform']">
          <p> Platform </p>
          <div class="underscore"></div>

        </a>
        <div class="vertical"></div>
      </li>
      <li>
        <a [routerLink]="['/','story']">
          <p> Story </p>
          <div class="underscore"></div>

        </a>
        <div class="vertical"></div>
      </li>
      <li>
        <a [routerLink]="['/','team']">
          <p> Team </p>
          <div class="underscore"></div>

        </a>
        <div class="vertical"></div>
      </li>
      <li>
        <a [routerLink]="['/','community']">
          <p> Community </p>
          <div class="underscore"></div>

        </a>
      </li>

    </ul>
  </nav>
</header>

