* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: black;
}

ul {
  display: flex;
  line-height: 1;
}

li {
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0 2px 0 2px;
}

.logo {
  width: 270px;
  height: 70px;
  /*background-color: #fff;*/
  mix-blend-mode: multiply;
}

.logo > h3 {
  width: 100%;
  height: 46px;
  padding-top: 24px;
  background-color: #000;
  font-family: HelveticaBold;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: white;
  mix-blend-mode: multiply;
}

img {
  width: 200px;
}

nav {
  margin: auto 30px auto 10px;
  width: auto;
  height: 16px;
}
nav>ul>li{
  margin: 0 5px 0 5px;
}

header {
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 100%;
  display: flex;
  z-index: 29;
  /*background-color: white;*/
  /*mix-blend-mode: multiply;*/
}

a {
  text-decoration: none;
  cursor: pointer;
}

/deep/ a:focus {
  outline: none !important;
  border: none !important;
}

/deep/ a:active {
  outline: none !important;
  border: none !important;
}

/deep/ h3:focus {
  outline: none !important;
  border: none !important;
}

/deep/ h3:active {
  outline: none !important;
  border: none !important;
}

h3 > a {
  position: relative;
  color: white;
  text-decoration: none;
}


h3 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  top: 24px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h3 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  top: 24px;
  left: 0;
}

.tablet {
  display: none;
  width: 38px;
  height: 38px;
  position: fixed;
  right: 34px;
  z-index: 34;
  top: 34px;
  padding: 20px;
}

.ulTablet {
  display: none;
}

.tabletClose{
  display: none;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
  ul {
    display: none;
  }

  .tablet {
    display: block;
    width: 34px;
    height: 38px;
    right: 20px;
    top: 6px;
  }

  .navTab {
    position: absolute;
    z-index: 35;
    top: 0px;
    right: 0px;
    overflow: hidden;
    height: 100vh;
    width: 0px;
    background-color: white;
  }

  .tabletClose {
    display: flex;
    flex-direction: column;
  }

  .tabletClose > svg {
    align-items: flex-end;
    width: 30px;
    height: 30px;
    padding: 27px;
    padding-left: 92vw;

  }

  .ulTablet {
    display: block;
    padding-top: 20vw;
    padding-left: 5vh;
  }

  li {
    padding: 20px 2px 0 2px;
  }

  a {
    font-size: 34px;
  }
}
  @media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
    .tabletClose>svg{
      padding-left: 84vw;
       }
    .tablet{
      width: 25px;
      padding: 5px;
    }
    .logo{
      height: 41px;
      font-size: 15px;
      padding: 0;
      width: 220px;
      }
    .logo>h3{
      height: 38px;
      padding-top: 16px;
      background-color: #000;
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
    }
  }

