<main>
  <div class="navigate navigate-team">
      <div class="title">team</div>
      <div class="wrapper wrapper-team">

      </div>
  </div>
  <div class="navigate navigate-story">
    <div class="title">story</div>
    <div class="wrapper wrapper-story">

    </div>

  </div>
  <div class="navigate navigate-films">
    <div class="title">films</div>
    <div class="wrapper wrapper-films">

    </div>

  </div>
  <div class="navigate navigate-platform">
    <div class="title">platform</div>
    <div class="wrapper wrapper-platform">

    </div>

  </div>
  <div class="navigate navigate-community">
    <div class="title">community</div>
    <div class="wrapper wrapper-community">

    </div>

  </div>
</main>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
    <img class="img-responsive" src="" alt="">
    <div class="overlay">
      <h2>Effect 13</h2>
      <p>
        <a href="#">LINK HERE</a>
      </p>
    </div>
  </div>
</div>
<div class="some-wrap" style="width: 350px;height: 250px">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-responsive" src="https://uznayvse.ru/images/content/2017/4/uzn_14926923861.jpg" alt="">
      <div class="overlay">
        <h2>STORY</h2>
        <p>
          <a href="#">Show more</a>
        </p>
      </div>
    </div>
  </div>
</div>
