<div class="container">
  <div *ngIf="position=='left'" class="text left">
    <div class="title">
      <p>
        {{platform.text}}
      </p>
    </div>
    <div class="read-more" (click)="read()">
      <span *ngIf="!show">Read more</span>
      <span *ngIf="show">Close</span>
    </div>
  </div>
  <div divImage [id]="platform.id" [controller]="'platform'" class="image">
    <div class="text-wrapper">
      <p>{{platform.text}}</p>
    </div>
  </div>
  <div *ngIf="position=='right'" class="text right">
    <div class="title">
      <p>
        {{platform.text}}
      </p>
    </div>
    <div class="read-more" (click)="read()">
      <span *ngIf="!show">Read more</span>
      <span *ngIf="show">Close</span>
    </div>
  </div>
  <div class="content" [ngClass]="{'showContent': show }">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni sed tempore totam voluptatum! Atque dicta
      eaque expedita impedit iste praesentium quasi vel veritatis. Dolor repellat, unde. Deserunt ipsum quasi vel.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni sed tempore totam voluptatum! Atque dicta
      eaque expedita impedit iste praesentium quasi vel veritatis. Dolor repellat, unde. Deserunt ipsum quasi vel.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi consequatur cumque, delectus
      provident quis quos temporibus! A debitis doloremque enim, eos fugiat impedit iste molestias natus nulla,
      obcaecati sunt?
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquam animi architecto consectetur
      delectus dicta dolorum id ipsam labore molestias mollitia obcaecati provident quibusdam quidem, sequi
      similique vitae voluptatem!
    </p>
  </div>
</div>
