/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: HelveticaBold;
  font-weight: bold;
  src: url("shared/fonts/9206.otf") format("opentype");
}
@font-face {
  font-family: HelveticaNeue;
  font-weight: bold;
  src: url("shared/fonts/HelveticaNeue.ttf") format("opentype");
}

body{
  margin: 0;
  font-family: HelveticaBold!important;
}
*{
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: HelveticaBold;
  src: url('assets/fonts/9206.otf');
}

