footer{
  width: 100%;
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
}
svg{
  height: 28px;
  margin: auto;
}
h6{
  color: white;
  margin: auto;
  width: 140px;
  padding-top: 58px;
  padding-bottom: 27px;
  font: normal normal normal 20px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif!important;
}
.font_9{
  font: normal normal normal 13px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif!important;
  color: white;
  margin-bottom: 25px;
}
.font_7{
  font: normal normal normal 20px/1.4em helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif!important;
  padding-top: 19px;
}
.font_8{
  font: normal normal normal 13px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif!important;
}
.txtNew{
  margin: auto;
}
img{
  width: 20px;
  margin: 0 5px 0 5px;
  height: 20px;
  object-fit: cover;
}
.social{
  width: 90px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
}
