<main>
  <div class="navigate navigate-team"
       [routerLink]="['team']"
       [@team]>
    <div class="title">team</div>
    <div class="wrapper wrapper-team">

    </div>
    <button class="nav-button">
      Show More
    </button>
  </div>
  <div class="navigate navigate-story"
       [routerLink]="['story']"
       [@story]>
    <div class="title">story</div>
    <div class="wrapper wrapper-story">

    </div>
    <button class="nav-button">
      Show More
    </button>

  </div>
  <div class="navigate navigate-films"
       [routerLink]="['film']"
       [@films]>
    <div class="title">films</div>
    <div class="wrapper wrapper-films">

    </div>
    <button class="nav-button">
      Show More
    </button>

  </div>
  <div class="navigate navigate-platform"
       [routerLink]="['platform']"
       [@platform]>
    <div class="title">platform</div>
    <div class="wrapper wrapper-platform">

    </div>
    <button class="nav-button">
      Show More
    </button>

  </div>
  <div class="navigate navigate-community"
       [routerLink]="['community']"
       [@community]>
    <div class="title">community</div>
    <div class="wrapper wrapper-community">

    </div>
    <button class="nav-button">
      Show More
    </button>

  </div>
</main>

