<main>
  <div class="navigate navigate-team" [routerLink]="['team']">
    <div class="title">team</div>
    <div class="wrapper wrapper-team">
      <button class="nav-button">
        Show More
      </button>
    </div>
  </div>
  <div class="navigate navigate-story" [routerLink]="['story']">
    <div class="title">story</div>
    <div class="wrapper wrapper-story">
      <button class="nav-button">
        Show More
      </button>
    </div>

  </div>
  <div class="navigate navigate-films" [routerLink]="['film']">
    <div class="title">films</div>
    <div class="wrapper wrapper-films">
      <button class="nav-button">
        Show More
      </button>
    </div>

  </div>
  <div class="navigate navigate-platform" [routerLink]="['platform']">
    <div class="title">platform</div>
    <div class="wrapper wrapper-platform">

    </div>
    <button class="nav-button">
      Show More
    </button>

  </div>
  <div class="navigate navigate-community" [routerLink]="['community']">
    <div class="title">community</div>
    <div class="wrapper wrapper-community">
      <button class="nav-button">
        Show More
      </button>
    </div>

  </div>
</main>

